# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Test

on:
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v6.0.1

    - name: Setup JDK
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        distribution: temurin
        java-version: 17
        cache: maven

    - name: Check site links
      uses: ./.github/actions/linkcheck
      with:
        directory: ${{ github.workspace }}
        token: ${{ secrets.GITHUB_TOKEN }}
